@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $dark;
  color: $bright;
  height: 100%;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  color: $wine;

  &.lg-heading {
    font-size: 6rem;
    color: $bright;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    color: $grey;
    background: rgba(lighten($dark, 2), 0.5);
  }
}

a {
  color: $bright;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//Bio:

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "studies1 studies2 studies3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $grey 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  p {
    font-weight: bold;
    background: rgba(lighten($dark, 2), 0.5);
  }

  .studies1 {
    grid-area: studies1;
  }

  .studies2 {
    grid-area: studies2;
  }

  .studies3 {
    grid-area: studies3;
  }

  .studies {
    font-size: 1.2rem;
    background: lighten($dark, 1);
    padding: 0.5rem;
    border-bottom: $wine 5px solid;
  }
}

//Contacto:

#about {
  .lg-heading,
  .sm-heading {
    display: flex;
    justify-content: center;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;

  div {
    font-size: 2rem;
    border: 3px $wine solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    background: $dark;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $grey;
      color: $dark;
      span {
        color: $wine;
      }
    }
  }
}

@import "mobile";
